

.SearchBar {
    width: 100%;
    display: flex;
    margin-top: 10px;

    &-Wrapper {
      display: flex;
    }
  }

  .SearchBar input {
    width: 70%;
    border-radius: 2px;
    border-width: 1px;
    font-size: 16px;
    background-color: #fff;
    color: #555;
  }

  .SearchBar input::placeholder {
    color: #555;
    font-weight: 500;
    font-style: italic;
  }

  .SearchBar button {
    border: none;
    border-radius: 9%; /* Updated */
    background-color: lightgray; /* Updated */
    outline: none;
    cursor: pointer;
  }

  .SearchBar button:hover {
    background-color: #fff;
  }

  .SearchBar button:hover i {
    color: #f06789;
  }


/* Desktop view */
@media screen and (min-width: 768px) {
    .SearchBar {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  /* Small Screen Deivce */
  @media screen and (max-width: 767px) {
    .SearchBar {
      flex-direction: column;
      align-items: start;
    }

    .SearchBar input {
      width: 60%;
    }

    .SearchBar button {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  }
